#userDetails {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    background-color: rgba(255, 183, 27, 0.753);
    padding: 20px;
    border-radius: 20px 0 20px 0;
}

#avatar {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    background-image: url("./generic-avatar.png");
}

.userentry {
    margin-top: 15px;
}