#userDetails{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

#avatar{
    border-radius: 30px;
    width: 60px;
    height: 60px;
    background-image: url("./generic-avatar.png");
}