#loginForm {
    margin: auto;
    margin-top: 10%;
    width: 30%;
    height: 200px;
}

.discordButton {
    border: none;
    background: url("./discord-logo.png") no-repeat center;
    background-size: 50px;
    background-color: rgb(69, 82, 221);
    width: 140px;
    height: 60px;
    border-radius: 20px 0 20px 0;
    transition: all 0.25s ease-in-out;
}

.discordButton:hover {
    background-color: rgb(85, 98, 248);
}

.discordButton:active {
    border: solid 1px rgba(255, 174, 0, 0.877);;
}

.discordButton img {
    width: 50px;
}