#botsForm {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    min-height: 200px;
}

#botConfiguration {
    margin: auto;
    width: 50%;
    margin-top: 20px;
}

.bots table {
    padding: 10px;
}

.bots table td {
    padding: 10px;
}

.createBotEntry {
    margin-bottom: 10px;
}