#botsForm {
    margin: auto;
    margin-top: 10%;
    width: 50%;
    min-height: 200px;
    background-color: rgba(224, 153, 0, 0.836);
    padding: 20px;
    border-radius: 20px 0 20px 0;
}

.bots table {
    padding: 10px;
}

.bots table td {
    padding: 10px;
}

.createBotEntry {
    margin-bottom: 10px;
}