#botsForm {
    margin: auto;
    margin-top: 200px;
    width: 70%;
    min-height: 200px;
    color: rgb(0, 33, 77);
}

.botsList {}

#botConfiguration {
    margin: auto;
    width: 50%;
    margin-top: 20px;
}

.bots table {
    padding: 10px;
}

.bots table td {
    padding: 10px;
}

.createBotEntry {
    margin-bottom: 10px;
}

#botCommands {
    margin-top: 80px !important;
    width: 70%;
    margin: auto;
}

#configurationButtons * {
    float: left;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 80px;
}