/* You can add global styles to this file, and also import other style files */


/*
    Fonts definition
*/

@font-face {
    font-family: "nexa_lightregular";
    src: url("./fonts/nexa_light-webfont.woff") format("woff"), url("./fonts/nexa_light-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ddd;
    font-family: "nexa_lightregular";
    font-size: 16px;
    font-weight: bold;
}

.largeWrapper {
    width: 100%;
}

.button {
    color: rgb(0, 33, 77);
}

.redButton {
    color: rgb(204, 30, 30)
}

table {
    width: 100%;
}

.mat-form-field {
    width: 100% !important;
}

h2 {
    color: #be6c01;
}

h3 {
    color: #d39716;
}

tr {
    transition: all 0.25s ease-in-out;
    font-size: 18px;
}

tr:hover {
    color: #ff9100;
    cursor: pointer;
}

tr:active {
    opacity: 0.5;
}